.spinner{
    width: 10em;
    height: 10em;
    border-top:1em solid  var(--mainColor);
    border-right: 1em solid transparent;
    border-radius: 50%;
    margin: auto;
    animation: spinner 0.5s linear infinite;
}
.spinner .circle{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: var(--mainColor);
    margin-left: 7.7em;
    margin-top: 5.5px;
}

@keyframes spinner {
    100%{
        transform: rotate(360deg);
    }
}