.statistics .apexcharts-xaxis-texts-g,
.statistics .apexcharts-legend,
.statistics .apexcharts-zoomin-icon,
.statistics .apexcharts-zoomout-icon,
.statistics .apexcharts-zoom-icon {
    display: none !important;
}

.statistics{
    margin-top: 80px;
}

.areachart .p-0 {

    padding: 0 !important;

}

.apexcharts-canvas {
    margin-right: -20px !important;
    color: #5028ad;
}

.mainColor {
    color: #3a0ca3;
}

.heart-box {
    width: 40px;
    height: 40px;
    background-color: rgb(196, 202, 208);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.statAmount {
    margin-left: 10px;
    font-weight: 700;
}

.statNew {
    font-weight: 14px;
    text-transform: capitalize;
    color: white;
    background-color: #3a0ca3;
    padding: 2px 6px;
    margin-left: 10px;
}

.line-info {
    width: 100px;
    height: 4px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(58, 12, 163, 1) 68%);
    position: relative;

}
.line-info::after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3a0ca3;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.line-info::before {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(166, 166, 166);
    right: -2.5px;
    top: 50%;
    transform: translate(0, -50%);
    animation: beat 2.5s linear infinite;
}

@keyframes beat {
    0% {
        width: 0;
        height: 0;
        right: 0;
    }

    50% {
        width: 9px;
        height: 9px;
        right: 0;
    }

    100% {
        width: 15px;
        height: 15px;
        right: -2.5px;
    }
}
.statistics .css-19kzrtu{
    padding: 0;
}


.statistics .numbers .numbersIcon {
    font-size: 50px !important;
    margin-right: 25px;
}
.statistics .numbers .numbersItem:first-child .numbersIcon{
    color: rgb(201, 39, 39) !important;

}
.statistics .numbers .numbersItem:nth-child(2) .numbersIcon{
    color: rgb(111, 14, 111) !important;
}
.statistics .numbers .numbersItem:nth-child(3) .numbersIcon{
    color: rgb(20, 68, 211) !important;
}
.statistics .numbers .numbersItem:nth-child(4) .numbersIcon{
    color: rgb(231, 194, 32) !important;
}
.statistics .numbers .numbersText{
    font-weight: 700;
    color: rgb(166, 162, 162);
    font-size: 14px;
}
.statistics .card-colored{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.statistics .card-colored-item:nth-child(1) .card-colored{
    background-color: #7366ff !important;
}
.statistics .card-colored-item:nth-child(2) .card-colored{
    background-color: #f73164!important;
}
.statistics .card-colored-item:nth-child(3) .card-colored{
    background-color: #7366ff !important;
}
.statistics .card-colored-item:nth-child(4) .card-colored{
    background-color: #f73164!important;
}
.statistics .card-colored .left-svg{
    font-size: 80px;
    margin-right: 25px;
    display: block !important;
}
.statistics .card-colored .right-svg{
    font-size: 160px;
    display: block !important;
    position: absolute;
    z-index: 0;
    opacity: 0.3;
    right: -30px;
    transition: all 0.2s linear;
}
.statistics .card-colored:hover .right-svg{
    scale: 1.2;
    rotate: -15deg;
}

@media (max-width:992px) {
    .statistics{
        padding: 0 !important;
    }
    .statistics .card-colored .left-svg{
        font-size: 60px;
        margin-right: 25px;
        display: block !important;
    }
    .MuiTabs-scroller{
        overflow-x: scroll !important;
    }
}